<div class="navfix"></div>

 <body>
 <div class="container">
   <!-- Trigger the modal with a button -->
   <button type="button" id="prueba" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Client Service</button>
   <!-- Modal -->
   <div class="modal fade" id="myModal" role="dialog">
     <div class="modal-dialog modal-lg" id="pruebatres">
       <div class="modal-content" style="width:400px" id="pruebados">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title ">Welcome to LiveChat Client Service</h4>
         </div>
         <div  class="modal-body col-sm-10 col-sm-offset-1 frame" style="border-radius:  5px">
          <ul>
          <li *ngFor="let m of chat.messages"><b>{{m.user}}</b>: {{m.message}}</li>
          </ul>
          <div>
              <div class="msj-rta macro" style="margin:auto">
                  <div class="text text-r" style="background:whitesmoke !important">
                      <input type="text" [(ngModel)]="m" class="mytext" placeholder="Type a message"/>
                  </div>
                  <button (click)="chat.sendMessage(m); m=''" class="btn btn-info btn-lg"> Send </button>
              </div>
          </div>

         </div>
         <div class="modal-footer">
         </div>
       </div>
     </div>
   </div>
 </div>
 </body>
