<div class="navfix"></div>

<div class="back-img">
  <div class="home-text">
    <h1>The Art of Vaping</h1>
    <h3>Join the culture of vaping and develop new experiences <br> with our products</h3>
  </div>
</div>
<div class="back">
  <div class="container">
    <div class="row equipo-item">
      <div class="center">
        <div class="home">
          <p>These vape starter kit is great for any beginner. You can make up your own <br>with everything you need to start vaping. Each vape should include an <br> atomizer tank, mod and liquid. Go to our products and build your own!</p>
          <img class="home-img" src="https://res.cloudinary.com/dhhgusvci/image/upload/v1513243150/Screen_Shot_2017-12-14_at_10.14.00_plexay.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
