.back-img {
position: absolute;
width: 100%;
height: 65%;
background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6f/E-Cigarette-Electronic_Cigarette-E-Cigs-E-Liquid-Vaping-Cloud_Chasing-Vaping_at_Work-Work_Vaping_%2816348997445%29.jpg');
background-repeat: no-repeat;
background-size: cover;
filter: grayscale(80%);
}

.home {
position: absolute;
bottom: 0;
}

.home-text {
color: #e6e6e6;
text-align: center;
padding-top: 11%;
font-family: Courier New, Courier, monospace;
}

.home-text h1 {
  font-size: 10vh;
}
.home-text h3 {
  font-size: 4vh;
}
.home p {

}
