
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img [routerLink]="['']" class="navbar-brand navbar-img" src="https://res.cloudinary.com/dhhgusvci/image/upload/v1513171486/evapeprueba_pffpmy.png">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <form class="navbar-form navbar-left">

            <!-- <input class="form-control" [(ngModel)]="search" placeholder="Search">
            <div class="form-group" *ngFor="let product of products | filter:['brand', 'model']:search; let idx = index">
            </div> -->

             <div class="form-group">
               <input [(ngModel)]= "searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search" (input)="search()">
               <div class="searchContainer" *ngIf='searchTerm.length > 0'>
                 <div *ngFor='let item of findItems' class='product-item'>
                   <a [routerLink]="['/product/', item._id]" (click)='removeSearch()'>
                     <img src="{{item.image}}" alt="">
                     <div class="info-container">
                       <p>{{item.model}}</p>
                       <span>{{item.brand}}</span>
                     </div>
                   </a>
                 </div>
               </div>
             </div>
           </form>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['products']">Products <span class="sr-only">(current)</span></a></li>
          <li><a [routerLink]="['suggestions']">Suggestions</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authService.user"><a [routerLink]="['profile']">{{authService.user.username}} </a></li>
          <li *ngIf="!authService.user"><a [routerLink]="['api/auth/login']">Login</a></li>
          <li *ngIf="!authService.user"><a [routerLink]="['api/auth/signup']">Signup</a></li>
          <li><a [routerLink]="['/cart']">Cart</a></li>
          <li *ngIf="authService.user"><a [routerLink]="['']" (click)="logout()">Log Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
     <router-outlet></router-outlet>
     <app-chat></app-chat>
