body {
  padding-top: 70px;
}

.searchContainer {
  background-color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 10px;
  border-radius: 5px;
  border: 1px solid rgba(45,45,45,0.5);
}

.product-item {
  padding: 8px 0;
  border-bottom: 1px solid rgba(45,45,45,0.2);
  display: flex;
}

.product-item a {
  display: flex;
  cursor: pointer;
}

.product-item a img {
  height: 65px;
  margin-right: 20px;
  width: 70px;
}

.info-container p {
  margin: 0;
  font-weight: 800;
  color: #000;
  font-size: 14px;
}

.info-container span {
  margin-top: 3px;
  font-weight: 100;
  color: #000;
}
