<div>
<h2> Create New Product</h2>
<label> Brand: </label>
<input type="text" [(ngModel)]="brand" name="brand"/>
<br>
<label> Model: </label>
<input type="text" [(ngModel)]="model" name="model"/>
<br>
  <label> Category: </label>
  <select type="text" [(ngModel)]="newProduct.type.category" #name="ngModel" name="category">
    <option type="text" value="Select category" disabled selected >Select category</option>
    <option value="Mod">Mod</option>
    <option value="Ato">Ato</option>
    <option value="E-liquid">E-liquid</option>
  </select>
<br>
<label> Sub-category: </label>
   <select [(ngModel)]="newProduct.type.subcategory" #name="ngModel" *ngIf='newProduct.type.category == "Mod"'>
    <option type="text" value="Select sub-category" disabled selected >Select sub-category</option>
    <option value="Mechanic">Mechanic</option>
    <option value="Electronic">Electronic</option>
  </select>
  <select [(ngModel)]="newProduct.type.subcategory" #name="ngModel" *ngIf='newProduct.type.category == "Ato"'>
   <option type="text" value="Select sub-category" disabled selected >Select sub-category</option>
   <option value="Atomizer">Atomizer</option>
   <option value="Claromizer">Claromizer</option>
 </select>
 <select [(ngModel)]="newProduct.type.subcategory" #name="ngModel" *ngIf='newProduct.type.category == "E-liquid"'>
  <option type="text" value="Select sub-category" disabled selected >Select sub-category</option>
  <option value="0mg">0mg</option>
  <option value="3mg">3mg</option>
</select>
<br>
<label> Description: </label>
<textarea type="text" [(ngModel)]="description" name="description"></textarea>
<br>
<label> Price: </label>
<input type="number" [(ngModel)]="price" name="price" min="0"/>
<br>
<label> Rating: </label>
<input type="number" [(ngModel)]="rating" name="rating" min="0" max="5"/>
<br>
<label> Image: </label>
<input type="text" [(ngModel)]="image" name="image"/>
<br>
  <button (click)='createObject(brand,model,category,subcategory,description,price,rating,image)' >Create</button>
