<!-- <div class="edit">
  <form *ngIf='authService.user'>
    <h2> Edit Profile</h2>
    <label> Username: </label>
    <input type="text" [(ngModel)]="authService.user.username" name="username"/>
    <label> Password: </label>
    <input type="password" [(ngModel)]="password" name="password"/>
    <label> Email: </label>
    <input type="email" [(ngModel)]="authService.user.email" name="email"/>

    <button (click) ="editUserByID(authService.user._id, authService.user.username, password, authService.user.email)" [routerLink]="['/profile']" > Edit </button>
  </form>
  <p class="error"> {{ error }} </p>
</div> -->
<div class="navfix"></div>

<div class="container" *ngIf="authService.user">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap">
          <p class="form-title">Edit Profile</p>
          <form class="edit">
            <input id="username" [(ngModel)]="authService.user.username" type="text" name="username" placeholder="username">
            <input id="password" [(ngModel)]="password" type="password" name="password" placeholder="password">
            <input id="mail" [(ngModel)]="authService.user.email" type="text" name="email" placeholder="e-mail">
            <br>
            <button (click) ="editUserByID(authService.user._id, authService.user.username, password, authService.user.email)" [routerLink]="['/profile']" type="submit" value="EditProfile" class="btn btn-lg btn-info btn-sm">Edit</button>
            <div class="check-edit-profile">
              <p class="account-message">
                Don't want to edit?
                <a class="click" [routerLink]="['/profile']">Go back</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
