body {
  /*margin-top: 60px;
  margin-left: 300px;
  vertical-align: middle;
  text-align: center;*/
}


#profile-image1 {
  cursor: pointer;
  width: 100px;
  height: 100px;
	border:2px solid #b3b3b3
}
	.tital{
    font-size:16px;
    font-weight:500
  }
	 .bot-border{
     border-bottom:1px #f8f8f8 solid;
     margin:5px 0  5px 0
   }

h4{
  cursor: pointer;

}

.centered {
    margin: 20px auto;
    width: 50%;
    float: unset;
}
