<div class="navfix"></div>

<div class="container" *ngIf="!auth.user">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap">
          <p class="form-title">Signup</p>
          <form class="signup">
            <input id="username" [(ngModel)]="username" type="text" name="username" placeholder="Usuario">
            <input id="password" [(ngModel)]="password" type="password" name="password" placeholder="Contraseña">
            <input id="mail" [(ngModel)]="email" type="text" name="email" placeholder="E-mail">
            <br>
            <button (click)="signup(username,password,email,role)" type="submit" value="Sign up" class="btn btn-lg btn-info btn-sm">SIGNUP</button>
            <div class="check-signup">
              <p class="account-message">
                Ya tienes una cuenta?
                <a class="click" [routerLink]="['..','login']">Login |</a>
                <a class="click" [routerLink]="['..','login']" (click)="logout()">Logout </a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
