<div *ngIf='authService.user'>
    {{authService.user.username}} Cart
</div>
<!-- <ul *ngIf='authService.user'>
 <li *ngFor="let item of shoppingCartService.shoppingCart">{{item.cart}} - {{item.brand}} - {{item.model}} - {{item.price}} €</li>
</ul> -->
<button (click)='clearCart()'>Clear cart</button>
<a [routerLink]="['/paymethod/user/cart']">BUY</a>

 <div *ngIf='authService.user'>
<tr *ngFor="let item of shoppingCartService.shoppingCart; let i = index">
  <th>{{i + 1}}</th>
  <th>{{item.cart}}</th>
  <th>{{item.brand}}</th>
  <th>{{item.model}}</th>
  <th>{{item.price}} €</th>
  <th>
    <button  (click)="shoppingCartService.deleteItem(item.product._id)">
      <span>Delete product</span>
    </button>
  </th>
</tr>
<button (click)='saveCart()'>save cart</button>

</div>
