<body>

  <div class="navfix"></div>
  <div class="container">
    <h2>Suggestions</h2>
    <p>Here you will find some of the stores we recommend to find anything related to vapes that we don't have!</p>

    <div class="row equipo-item">
      <div class="col-md-3 separador-vertical">
        <agm-map [zoom]="zoom" [latitude]="lat4" [longitude]="lng4">
          <agm-marker [latitude]="lat4" [longitude]="lng4"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-9">
        <h2 class="titulo-equipo">Sapporet Alcorón</h2>
        <p class="texto-equipo"><strong>Dirección: </strong>C/ Sapporo, 18<br> 28923 Madrid, España<br>
          <strong>Teléfono:</strong> +34-916-12-36-98<br> </p>
      </div>
    </div>

    <div class="row equipo-item">
      <div class="col-md-3 separador-vertical">
        <agm-map class="img-responsive center-block" [zoom]="zoom" [latitude]="lat1" [longitude]="lng1">
          <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-9">
        <h2 class="titulo-equipo">Mas que Vapor Príncipe Pio Store</h2>
        <p class="texto-equipo"><strong>Dirección: </strong>CC Comercial Príncipe Pio, Paseo de la Florida 2 <br> 28008 Madrid, España<br>
          <strong>Teléfono:</strong> +34-910-58-06-36</p>
      </div>
    </div>


    <div class="row equipo-item">
      <div class="col-md-3 separador-vertical">
        <agm-map [zoom]="zoom" [latitude]="lat2" [longitude]="lng2">
          <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-9">
        <h2 class="titulo-equipo">Mas que Vapor Hermosilla Store</h2>
        <p class="texto-equipo"><strong>Dirección: </strong>Hermosilla 137 <br> 28009 Madrid, España<br>
          <strong>Teléfono:</strong> +34-910-57-68-80<br> </p>
      </div>
    </div>

    <div class="row equipo-item">
      <div class="col-md-3 separador-vertical">
        <agm-map [zoom]="zoom" [latitude]="lat3" [longitude]="lng3">
          <agm-marker [latitude]="lat3" [longitude]="lng3"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-9">
        <h2 class="titulo-equipo">Mas que Vapor Arganda Store</h2>
        <p class="texto-equipo"><strong>Dirección: </strong>Avenida de Madrid N5, Oficina 12G<br> 28028 Madrid, España<br>
          <strong>Teléfono:</strong> +34-918-70-68-01<br> </p>
      </div>
    </div>

    <div class="row equipo-item">
      <div class="col-md-3 separador-vertical">
        <agm-map [zoom]="zoom" [latitude]="lat5" [longitude]="lng5">
          <agm-marker [latitude]="lat5" [longitude]="lng5"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-9">
        <h2 class="titulo-equipo">Puff</h2>
        <p class="texto-equipo"><strong>Dirección: </strong>Calle de Alcalá, 140<br> 28009 Madrid, España<br>
          <strong>Teléfono:</strong> +34-914-85-89-05<br> </p>
      </div>
    </div>


  </div>

</body>
