body{
  background-color: #f6f6f6;
}

agm-map {
  height: 250px;
  width: 250px;
}

.separador-vertical{
  border-right:1px solid #bfbdbd;
  }

  .titulo-equipo{
  margin-top:50px;
  margin-left: 90px

    }

    .texto-equipo{
    margin-left: 90px

      }

  .equipo-item{
  border:	1px solid #D1CFCF ;
  padding: 10px;
  border-radius:10px;
  margin-bottom:25px;
  background-color: white;

      }
