 <h1>PRODUCTS</h1>
 <a [routerLink]="['/product/new']" >Create product</a>
 <!-- *ngIf='authService.user.role == "admin"' -->
 <br>
 Search here: <input [(ngModel)]="search"> <br>
  <div class="products" *ngFor="let product of products | filter:'brand':search; let idx = index">
    <h3>Brand: {{product.brand}}</h3>
    <h4>Model: {{product.model}}</h4>
    <h4>Price: {{product.price}} €</h4>


    <a [routerLink]="['..','product',product._id]"><img src="{{product.image}}" alt=""></a>
    <br>
    <a [routerLink]="['..','product',product._id]">View Details</a>
    <button (click)= 'addProduct(product)'>Add to Cart</button>





  </div>
