<body>


 <!-- <h1>PRODUCTS</h1> -->
 <a [routerLink]="['/product/new']" >Create product</a>
 <!-- *ngIf='authService.user.role == "admin"' -->
 <!-- <br>
 Search here: <input [(ngModel)]="search"> <br>
  <div class="products" *ngFor="let product of products | filter:['brand', 'model']:search; let idx = index">
    <h3>Brand: {{product.brand}}</h3>
    <h4>Model: {{product.model}}</h4>
    <h4>Category: {{product.type.category}}</h4>
    <h4>Price: {{product.price}} €</h4>

    <a [routerLink]="['..','product',product._id]"><img src="{{product.image}}" alt=""></a>
    <br>
    <a [routerLink]="['..','product',product._id]">View Details</a>
    <button (click)= 'addProduct(product)'>Add to Cart</button>
  </div>

 -->
 <div class="container">
    <div class="row">
        <!-- BEGIN PRODUCTS -->
        <div class="col-md-3 col-sm-6 product-box hover-circle text-center" *ngFor="let product of products | filter:['brand', 'model']:search; let idx = index">
          <span class="thumbnail">
              <img class="image" src="{{product.image}}" [routerLink]="['..','product',product._id]" alt="...">
              <h4>{{product.brand}}</h4>
              <h5>{{product.model}}</h5>
              <div class="hoverly-item">
              <a class="btn btn-default view-details-btn" [routerLink]="['..','product',product._id]">View Details</a>
              </div>
              <!-- <div class="ratings">
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>
                  </div> -->
              <p>{{product.type.category}}</p>

              <hr class="line">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <p class="price">{{product.price}}€</p>
                </div>
                <div class="col-md-6 col-sm-6">
                  <button class="btn btn-success right" (click)= 'addProduct(product)'> BUY ITEM</button>
                </div>

              </div>
          </span>

        </div>

    </div>
  </div>
</body>
